* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tonghop {
  font-size: 12px;
  &__title {
    text-align: center;
  }
  &__content {
    // margin-left: 50px;
    justify-content: space-between;

    // font-weight: 400;

    &__note {
      margin: 20px 0;
      p {
        font-size: 20px;
      }
    }
    button {
      border: 1px solid rgb(12, 127, 228);
      border-radius: 3px;
      height: 40px;
      width: 80%;
      background-color: rgb(2, 193, 241);
    }
  }
}
input {
  //   border-color: rgb(12, 127, 228);
  border-radius: 3px;
  width: 80%;
  height: 50px;
  border: 1px solid rgb(12, 127, 228);
  display: block;
}
